version: "3.8"
services:
  nginx:
    image: nginx:alpine
    container_name: ${APP_NAME}_nginx
    restart: always
    tty: true
    ports:
      - "8081:80"
      - "443:443"
    volumes:
      - ./app:/srv/www/test
      - ./conf/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm
      # - db
    networks:
      app-network:
        ipv4_address: 10.8.0.2

  php-fpm:
    build:
      context: .
      dockerfile: ./conf/php-fpm/Dockerfile
    restart: always
    container_name: ${APP_NAME}_php-fpm
    tty: true
    volumes:
      - ./app:/srv/www/test
      - ./conf/php-fpm/php.ini:/usr/local/etc/php/conf.d/php.ini
    networks:
      app-network:
        ipv4_address: 10.8.0.3

  # db:
  #   image: postgres
  #   restart: always
  #   container_name: ${APP_NAME}_db
  #   env_file:
  #     - .env
  #   ports:
  #     - '5432:5432'
  #   networks:
  #     app-network:
  #       ipv4_address: 10.8.0.4

volumes:
  db:
    driver: local

networks:
  app-network:
    driver: bridge
    ipam:
     config:
       - subnet: 10.8.0.0/16
         gateway: 10.8.0.1

